# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
dist/
build/
*.egg-info/

# VS Code settings
.vscode/

# MacOS
**/.DS_Store

# Sentinel Worlds saves
test_data/

# Xcode
SentinelWorldsEditor/build/
SentinelWorldsEditor/DerivedData/
SentinelWorldsEditor/*.xcodeproj/xcuserdata/
SentinelWorldsEditor/*.xcodeproj/project.xcworkspace/xcuserdata/
SentinelWorldsEditor/*.xcworkspace/xcuserdata/
*.swp
*.swiftpm
.swiftpm/

# Xcode - User-specific scheme files
SentinelWorldsEditor/*.xcodeproj/xcshareddata/xcschemes/*.xcscheme

# Build artifacts
*.ipa
*.dSYM.zip
*.dSYM